KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/etc/security/keytabs/connect-{{ tags["region"] }}.keytab"
    principal="connect/{{inventory_hostname}}@{{ tags["region"] | upper }}.CONFLUENT.IO";
};
