KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/etc/security/keytabs/connect.keytab"
    principal="connect/{{inventory_hostname}}@TEST.CONFLUENT.IO";
};
