KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/etc/security/keytabs/c3-{{ tags["region"] }}.keytab"
    principal="c3@{{ tags["region"] | upper }}.CONFLUENT.IO";

    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="c3"
    password="c3-secret";
};
