KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/etc/security/keytabs/c3.keytab"
    principal="c3/{{inventory_hostname}}@TEST.CONFLUENT.IO";
};
